# Executable and BUILD directory
MK_DataLogger
BUILD

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Output files
*.txt
*.csv